div.section_oly a.navigationLink, 
div.wolbody div.section_oly a.navigationLink
{
  color:white;
}


/*
     FILE ARCHIVED ON 10:55:47 Dec 01, 2011 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:50:12 Mar 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.703
  exclusion.robots: 0.097
  exclusion.robots.policy: 0.085
  esindex: 0.011
  cdx.remote: 12.23
  LoadShardBlock: 98.236 (3)
  PetaboxLoader3.datanode: 138.465 (5)
  PetaboxLoader3.resolve: 342.335 (3)
  load_resource: 412.044 (2)
*/